.main{
    .background{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: blur(15px);
        position: fixed;
        inset: 0 0 0 0;

    }
    .wrap{
        z-index: 5;
        padding: 35px 75px;
        position: absolute;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
        top: 10%;
        left: 0;
        right: 0;
        background-color: var(--white);
      
        h1{
            text-align: center;
            font-size: 24px;
            color: var(--black);
            margin-bottom: 50px;
        }
        .date{
            font-size: 13px;
            color: var(--black);
            img{
                height: 16px;
                width: 16px;
                vertical-align: text-bottom;
            }
        }
        .newImg{
            width: 100%;
            height: 500px;
            object-fit: contain;
        }
        p{
            font-size: 18px;
            color: var(--black);
            padding: 1em 0;
        }
        .Button {
            color: var(--black);
            justify-content: flex-start !important;
            padding: 0.5em 0.5em 0.5em 0;
          }
    }
    
}
