.wrap{
    padding: 0 75px;
    .result{
        color: var(--black);
        font-size: 1em;
        margin-top: 3em;
       
    }
    hr{
        border-top: 1px solid #EAEAEA;
        margin-bottom: 1em;
    }
}